<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="3">
<appenders>
    <File name="FILE" fileName="f://different/temp/logs/error.txt">
        <PatternLayout pattern="%d{ISO8601} [%-5p] (%F:%L) - %m%n"/>
    </File>
</appenders>
<loggers>
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</loggers>
</configuration>